/* Import boostrap */
/* Custom files*/
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  text-align: center; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0;
  color: #2D2D2D;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; }

a {
  color: white;
  padding: 0; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

b, strong {
  font-weight: bold; }

@media (min-width: 1440px) {
  .container {
    max-width: 100%;
    width: 1260px; } }

/* Import parts */
.section-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 29px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 27px; }

.section-title .emphasized {
  color: #4A90E2; }

.section-subtitle {
  max-width: 652px;
  margin: 0 auto 75px;
  color: #2D2D2D;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px; }

.topper {
  height: 17px;
  border-radius: 5px 5px 0 0;
  background-color: #4A90E2; }

section, header, footer {
  margin: 0 auto; }

button:hover, .btn:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  opacity: 2; }

.btn {
  border-radius: 100px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 0 auto 0;
  padding: 16px 0 16px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 18px;
  text-transform: uppercase; }
  .btn:hover, .btn:focus, .btn:visited {
    color: white; }
  .btn .btn-icon {
    margin-right: 10px; }

.btn-blue {
  background-color: #4A90E2; }

.btn-red {
  background-color: #F15531; }

.btn-green {
  background-color: #17D882; }

.section-hero {
  padding-bottom: 152px; }

.section-hero {
  background: url("../images/bg-hero.png") center center; }

.section-hero h1 {
  color: white; }

.hero-text {
  margin-top: 147px;
  text-transform: uppercase; }

.hero-text h1, .hero-text h2, .hero-text p {
  margin: 0; }

.hero-text h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 88px;
  margin-bottom: 16px; }

.hero-text h2 {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.75);
  letter-spacing: 1px;
  line-height: 29px; }

.hero-text h3 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 50px;
  text-transform: none; }

.card-button img {
  margin-right: 10px;
  vertical-align: top; }

@media screen and (max-width: 500px) {
  .hero-text h2, .hero-text h1, .hero-text p {
    font-size: 2em; } }

@media (min-width: 1200px) {
  .section-hero .container {
    max-width: 100%;
    width: 1440px; } }

.navbar-wrapper {
  margin-left: 40px;
  margin-right: 40px; }

.navbar {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 16px;
  font-weight: 500;
  line-height: 16px;
  padding: 0; }

#main-nav li a:visited {
  color: white; }

#main-nav li a:hover {
  background: none;
  color: white;
  border-bottom: 3px solid #4A90E2; }

#main-nav li.active {
  border-bottom: 3px solid #4A90E2; }

#main-nav li.active:hover {
  border-bottom: none; }

#main-nav li.nav-item {
  text-transform: uppercase;
  margin-left: 36px; }
  #main-nav li.nav-item:first-child {
    margin-left: 0; }

#main-nav .nav-link {
  padding: 0;
  padding-bottom: 20px; }

.navbar-brand {
  vertical-align: top;
  padding: 0; }

#main-nav {
  margin-top: 28px; }

.btn-outline-top {
  width: 151px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  margin-left: 10px;
  padding-bottom: 13px;
  padding-top: 13px; }
  .btn-outline-top img {
    margin-right: 8px; }

#top-nav .nav-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 14px; }

#top-nav {
  padding-top: 15px;
  padding-bottom: 0; }

/*
    Card styles
*/
.card {
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 #000000;
  background-color: #FFFFFF;
  margin: 0 auto 30px;
  border: none; }

.card .bar {
  height: 17px;
  border-radius: 5px 5px 0 0; }

.card-red .bar {
  background-color: #F15531; }

.card-green .bar {
  background-color: #17D882; }

.card-title, .card-subtitle {
  text-transform: uppercase; }

.card-title {
  font-size: 38px;
  letter-spacing: 3px;
  line-height: 47px;
  font-weight: 500; }

.card-red .card-title {
  color: #F15531;
  margin-top: 24px;
  margin-bottom: 0; }

.card-red .card-subtitle {
  font-size: 28px;
  margin-top: 0;
  color: #2D2D2D;
  letter-spacing: 2px; }

.card-green .card-title {
  color: #17D882;
  margin-top: 24px;
  margin-bottom: 0; }

.card-green .card-subtitle {
  font-size: 28px;
  margin-top: 0;
  color: #2D2D2D;
  letter-spacing: 2px; }

.card-features {
  margin: 24px auto 0;
  padding: 0;
  text-align: center; }

.card-features .icon, .card-features .content {
  display: inline-block;
  text-align: left; }

.card-features .content {
  margin-left: 49px; }

.card-features .content ul {
  margin-top: 7px; }

.card-red .card-features .content ul {
  list-style-image: url("../images/icon-tickred.png"); }

.card-green .card-features .content ul {
  list-style-image: url("../images/icon-tickgreen.png"); }

.card-features .content li {
  margin-bottom: 8px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 22px;
  color: #555555; }

.card-features .icon {
  vertical-align: baseline; }

.card-content {
  padding-bottom: 53px; }

/**
  Card button styles
*/
.card-red button {
  background-color: #F15531; }

.card-green button {
  background-color: #17D882; }

.card-button {
  border-radius: 100px;
  max-width: 100%;
  width: 450px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  margin: 38px auto 0;
  padding: 16px 0 16px;
  border: none; }

.card-button i {
  margin-right: 5px; }

.card-button a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: white; }

.card-cta {
  text-align: center; }

@media screen and (max-width: 500px) {
  .card-button {
    max-width: 100%;
    min-width: 100%; } }

@media screen and (max-width: 1000px) {
  .card-red, .card-green {
    margin: auto; }
  .card-red {
    margin-bottom: 30px; } }

.card-horizontal {
  max-width: 100%;
  width: 700px;
  margin-left: auto;
  margin-right: auto; }
  .card-horizontal .card-content-col {
    width: 100%; }
  .card-horizontal.price-card {
    margin-top: 88px; }
    .card-horizontal.price-card .card-subtitle, .card-horizontal.price-card .card-title,
    .card-horizontal.price-card .card-price, .card-horizontal.price-card .per-period {
      font-family: "Montserrat", sans-serif; }
    .card-horizontal.price-card .card-price {
      font-size: 90px;
      font-weight: 500;
      line-height: 110px; }
    .card-horizontal.price-card .billing-period {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px; }
    .card-horizontal.price-card .card-content-col {
      border-right: 1px solid #E4E4E4;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center; }
      .card-horizontal.price-card .card-content-col > div {
        display: inline-block; }
      .card-horizontal.price-card .card-content-col:first-child {
        padding-right: 0; }
      .card-horizontal.price-card .card-content-col:last-child {
        border-right: none; }
      .card-horizontal.price-card .card-content-col .feature-list {
        max-width: 100%; }
    .card-horizontal.price-card .card-title {
      font-size: 54px;
      font-weight: 500;
      letter-spacing: 5px;
      line-height: 66px; }
    .card-horizontal.price-card .card-subtitle {
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 2px;
      line-height: 20px; }
    .card-horizontal.price-card .topper, .card-horizontal.price-card .card-title, .card-horizontal.price-card .card-subtitle {
      text-align: center; }
    .card-horizontal.price-card .card-cta {
      max-width: 100%;
      width: 450px;
      margin: 35px auto 0; }
      .card-horizontal.price-card .card-cta .card-button {
        margin-top: 0; }
    .card-horizontal.price-card .card-emphasized {
      max-width: 100%;
      width: 526px;
      margin: 35px auto; }
    .card-horizontal.price-card .card-green {
      width: 650px;
      max-width: 100%; }
      .card-horizontal.price-card .card-green .card-title {
        margin-top: 66px; }
  .card-horizontal .card-content-row {
    margin-top: 50px; }

section#platforms {
  background: #F4F4F4;
  padding-bottom: 70px;
  padding-top: 85px; }

section#platforms .section-title {
  margin-bottom: 40px; }

.logo-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%; }

.logo-list li {
  display: inline-block; }

.logo-list li .more {
  color: #4A90E2;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase; }

section#features {
  padding-bottom: 70px;
  padding-top: 85px; }
  section#features .features-item {
    text-align: center;
    max-width: 320px; }
    section#features .features-item img {
      height: 77px; }

.features-item-title {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 19px; }

.features-item-content {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin: 13px auto;
  text-align: center; }

.features-item:nth-child(n+4) {
  margin-bottom: 0; }

.features-item {
  margin-bottom: 84px; }

section#big-review {
  min-height: 700px;
  background-color: #202020; }

section .container {
  position: relative; }

.review {
  position: absolute;
  max-width: 685px;
  text-align: left;
  top: 263px;
  left: 134px; }
  .review p {
    color: white; }

.review .quote {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  position: relative;
  margin: 0; }

.review .quote .icon-quote-start {
  position: absolute;
  top: -30px;
  left: -30px; }

.review .quote .icon-quote-finish {
  position: absolute;
  bottom: -30px; }

.review .name, .review .company {
  text-transform: uppercase; }

.review .name {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 20px;
  margin-bottom: 10px;
  display: inline-block; }

.review .company {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 20px;
  margin-top: 0;
  display: inline-block; }

@media screen and (max-width: 800px) {
  .review {
    position: relative;
    text-align: center;
    top: 0;
    left: 0; }
  .review .icon-quote-finish, .review .icon-quote-start {
    display: none; } }

.logos-wrapper {
  max-width: 915px;
  margin: 52px auto; }

.logos-wrapper img {
  margin-bottom: 70px; }

.large-benefit {
  padding-top: 99px;
  padding-bottom: 124px;
  text-align: left; }
  .large-benefit .content-wrapper {
    max-width: 730px;
    margin: 0; }
  .large-benefit .section-title {
    margin-bottom: 31px;
    text-align: left; }
  .large-benefit .large-benefit-single {
    margin-bottom: 68px; }
  .large-benefit .large-benefit-intro {
    margin-top: 0;
    margin-bottom: 52px;
    max-width: 681px; }
  .large-benefit .large-benefit-heading {
    margin: 0;
    display: inline-block;
    line-height: 20px;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px; }
  .large-benefit img {
    margin-right: 12px;
    margin-bottom: 12px;
    vertical-align: top; }
  .large-benefit .large-benefit-content {
    max-width: 320px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin: 0; }
  .large-benefit .card-button {
    margin-top: 0;
    width: 450px; }

.red .emphasized {
  color: #F15531; }

.red .card-button {
  background: #F15531; }

#repair {
  background-color: #ECECEC; }

.large-benefit.red .container {
  background: url("../images/macbook-alert.png") center right no-repeat; }

@media (min-width: 1440px) {
  .large-benefit .container {
    max-width: 100%;
    width: 1440px;
    padding-left: 90px; } }

.large-benefit {
  padding-top: 99px;
  padding-bottom: 124px;
  text-align: left; }
  .large-benefit .content-wrapper {
    max-width: 730px; }
  .large-benefit .section-title {
    margin-bottom: 31px; }
  .large-benefit .large-benefit-single {
    margin-bottom: 68px; }
  .large-benefit .large-benefit-intro {
    margin-top: 0;
    margin-bottom: 52px;
    max-width: 681px; }
  .large-benefit .large-benefit-heading {
    margin: 0;
    margin-bottom: 12px; }
    .large-benefit .large-benefit-heading img {
      margin-right: 12px; }
  .large-benefit .large-benefit-content {
    max-width: 320px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin: 0; }
  .large-benefit .card-button {
    margin-top: 0;
    width: 450px; }

.green .emphasized {
  color: #17D882; }

.green .card-button {
  background: #17D882; }

#protect {
  background-color: white; }
  #protect.grey {
    background-color: #ECECEC; }

.large-benefit.green .container {
  background: url("../images/macbook-padlock.png") center right no-repeat; }

section#price {
  padding: 99px 0 98px;
  background-color: #ECECEC; }

.price-card .card-content {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px; }

.price-card .card-title {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 34px;
  text-align: center; }

.price-card .card-subtitle {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: center; }

.price-card .card-cta {
  padding-left: 25px;
  padding-right: 25px; }

.price-card .card-button {
  margin-top: 25px; }

.price-card .feature-list {
  color: #555555;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  display: inline-block; }

.price-card .feature-list li {
  margin-bottom: 8px; }

.price-card .feature-list li:last-child {
  margin-bottom: 0; }

.price-card .card-price i {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  vertical-align: super; }

.price-card .card-price {
  font-size: 70px;
  font-weight: 500;
  line-height: 86px;
  text-align: center;
  margin: 0; }
  .price-card .card-price .per-period {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    color: #2D2D2D; }

.price-card .billing-period {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  margin: 0; }

.price-card .no-page-limit {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  text-align: left;
  margin: 0; }

.price-card .card-emphasized {
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 18px 50px 18px;
  margin-top: 25px;
  font-size: 16px;
  line-height: 22px;
  font-family: "lato", sans-serif;
  position: relative; }

.price-card .card-red .topper {
  background: #F15531;
  height: auto;
  padding: 10px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 20px; }

.price-card .card-red .card-price {
  color: #F15531; }

.price-card .card-red .card-button {
  background: #F15531; }

.price-card .card-red .card-title {
  color: #F15531; }

.price-card .card-red .feature-list {
  list-style-image: url("../images/icon-tickred.png"); }

.price-card .card-green .topper {
  background: #17D882; }

.price-card .card-green .card-button {
  background: #17D882; }

.price-card .card-green .card-price {
  color: #17D882; }

.price-card .card-green .card-title {
  color: #17D882;
  margin-top: 49px; }

.price-card .card-green .feature-list {
  list-style-image: url("../images/icon-tickgreen.png"); }

section#big-review-no-image {
  min-height: 500px;
  background-color: #202020;
  padding-top: 167px;
  padding-bottom: 144px; }
  section#big-review-no-image.blue {
    background: #4A90E2; }
  section#big-review-no-image .review {
    position: relative;
    color: white;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    max-width: 1046px; }
  section#big-review-no-image .review .quote {
    max-width: 1046px;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    position: relative;
    margin-top: 0;
    margin-bottom: 62px; }
  section#big-review-no-image .review .quote .icon-quote-start {
    position: absolute;
    top: -30px;
    left: -30px; }
  section#big-review-no-image .review .quote .icon-quote-finish {
    position: absolute;
    bottom: -30px; }
  section#big-review-no-image .review .name, section#big-review-no-image .review .company {
    text-transform: uppercase; }
  section#big-review-no-image .review .name {
    margin-top: 27px; }
  @media screen and (max-width: 800px) {
    section#big-review-no-image .review {
      position: relative;
      text-align: center;
      top: 0;
      left: 0; }
    section#big-review-no-image .review .icon-quote-finish, section#big-review-no-image .review .icon-quote-start {
      display: none; } }

section#why-choose-sitegaurd {
  min-height: 500px;
  background-color: #4A90E2;
  padding-top: 94px;
  padding-bottom: 118px; }
  section#why-choose-sitegaurd .section-title, section#why-choose-sitegaurd .emphasized {
    color: white; }
  section#why-choose-sitegaurd .emphasized {
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 7px;
    line-height: 86px; }
  section#why-choose-sitegaurd .content {
    text-align: left;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px; }

section#testimonials {
  padding-bottom: 110px;
  padding-top: 85px;
  background-color: #F4F4F4; }

.testimonial-card {
  min-height: 293px;
  width: 100%;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  max-width: 395px;
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 37px; }

.testimonial-content {
  margin: 22px 37px;
  text-align: left; }

.testimonial-text {
  margin-top: 18px; }

.testimonial-person .name {
  color: #2D2D2D;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 0; }

.testimonial-person .company {
  color: #4A90E2;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 0; }

section#testimonials .card-button {
  background: #4A90E2; }

section#testimonials .card-button img {
  margin-right: 10px;
  vertical-align: top; }

.section-our-journey {
  background-color: #F4F4F4;
  padding-top: 90px;
  padding-bottom: 107px; }
  .section-our-journey .section-title {
    margin-bottom: 0; }
  .section-our-journey .section-subtitle {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 61px;
    color: #4A90E2;
    font-family: "Montserrat", sans-serif; }
  .section-our-journey .video {
    width: 757px;
    height: 418px;
    background-color: black;
    margin: auto;
    margin-top: 40px; }

#contact {
  padding-bottom: 113px;
  padding-top: 85px;
  background-color: #2D2D2D;
  text-align: left;
  color: white; }
  #contact .card-header {
    margin-bottom: 19px;
    padding: 0;
    background: none;
    border: none; }
  #contact p {
    color: white; }

.office, .widget-title {
  text-align: left;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 20px; }

.widget-title {
  text-transform: uppercase;
  margin-bottom: 17px;
  margin-top: 46px; }

/*
  Offices styles
*/
.office-icon, .office-detail p {
  display: inline-block;
  margin: 0 0 20px;
  vertical-align: top;
  padding: 0; }

.office-detail p {
  margin-left: 17px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px; }

.office-detail p a {
  color: white; }

.sitemap .nav-link {
  text-align: left;
  padding: 0;
  text-decoration: underline;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 26px; }
  .sitemap .nav-link:hover {
    color: white; }

.widget {
  margin-bottom: 46px; }
  .widget .widget-content {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 26px; }

/* Change the column width of boostrap for footer */
#contact .contact-col {
  display: inline-block;
  vertical-align: top; }

#contact .contact-col:first-child {
  width: 430px; }

#contact .contact-col:nth-child(2) {
  width: 320px;
  margin-left: 64px; }

#contact .contact-col:nth-child(3) {
  width: 320px;
  float: right; }

.social-icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start; }
  .social-icons img {
    margin-left: 10px; }
    .social-icons img:first-child {
      margin-left: 0; }

footer {
  padding: 35px 0 35px;
  background-color: #202020;
  text-align: left; }
  footer p {
    color: white; }

footer .credit {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px; }

footer {
  color: white; }

footer p {
  display: inline-block;
  margin: 0; }

footer p:nth-child(n+2) {
  margin-left: 35px; }

.credit-card {
  float: right;
  line-height: 38px; }

.tc-nav {
  display: inline-block; }
  .tc-nav ul, .tc-nav li {
    display: inline-block; }
  .tc-nav ul {
    margin-left: 10px; }
  .tc-nav a.nav-link {
    display: inline-block;
    text-decoration: underline;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 20px; }
  .tc-nav li + li:before {
    content: " | ";
    padding-left: 10px;
    padding-right: 10px; }

/* Page styles */
.section-blog {
  padding-top: 82px;
  padding-bottom: 144px; }
  .section-blog h1 {
    font-family: "Montserrat",sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 29px;
    margin-bottom: 0; }
  .section-blog .blog-post {
    margin-top: 80px; }
    .section-blog .blog-post p {
      font-size: 16px; }
  .section-blog .post-title h2 {
    color: #4A90E2;
    font-size: 24px;
    line-height: 38px;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: bold; }
  .section-blog .post-readmore {
    max-width: 100%;
    width: 180px; }
  .section-blog .post-meta {
    height: 60px;
    padding-top: 5px; }
    .section-blog .post-meta .date {
      display: inline-block;
      float: right;
      font-weight: 300; }
    .section-blog .post-meta .author {
      display: inline-block;
      position: relative;
      width: 200px; }
      .section-blog .post-meta .author .author-image {
        width: 100px;
        background: #ccc;
        height: 100px;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        top: -55px;
        left: 20px; }
      .section-blog .post-meta .author .author-name {
        display: inline-block;
        float: right;
        color: #4A90E2;
        font-weight: bold; }
      .section-blog .post-meta .author .author-name, .section-blog .post-meta .author .date {
        font-size: 14px;
        line-height: 24px; }

.section-hero .wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 100px auto 0;
  max-width: 100%;
  width: 1260px; }
  .section-hero .wrapper .review {
    position: static; }
    .section-hero .wrapper .review .stars img {
      margin-right: 20px; }
    .section-hero .wrapper .review .detail {
      margin-top: 50px;
      text-align: center; }
      .section-hero .wrapper .review .detail .review-points, .section-hero .wrapper .review .detail .review-cta {
        display: inline-block; }
      .section-hero .wrapper .review .detail .review-points {
        color: rgba(255, 255, 255, 0.75);
        font-family: "Lato",sans-serif;
        font-size: 20px;
        line-height: 24px; }
      .section-hero .wrapper .review .detail .review-cta {
        max-width: 100%;
        width: 300px;
        margin-left: 20px; }
  .section-hero .wrapper .title-div, .section-hero .wrapper .review {
    display: inline-block; }
  .section-hero .wrapper .title-div {
    max-width: 100%;
    width: 371px;
    position: relative; }
    .section-hero .wrapper .title-div h1 {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      text-align: left;
      vertical-align: middle;
      margin: 0;
      font-family: "Lato", sans-serif;
      font-size: 50px;
      font-weight: bold;
      line-height: 60px; }

/* Section reviews */
.section-review {
  font-family: "Lato", sans-serif;
  padding-top: 23px;
  padding-bottom: 118px; }
  .section-review .review-row {
    border-bottom: 1px solid #D8D8D8; }
    .section-review .review-row:last-child {
      border: none; }
  .section-review .review-post {
    padding: 50px 0 50px 0;
    max-width: 100%;
    width: 375px; }
    .section-review .review-post:nth-last-child(3) {
      border: none; }
    .section-review .review-post .name, .section-review .review-post .date {
      font-weight: bold;
      line-height: 24px;
      margin: 0; }
    .section-review .review-post .date {
      color: #4A90E2; }
    .section-review .review-post .content {
      margin-top: 10px; }
  .section-review .review-cta {
    width: 300px;
    max-width: 100%;
    margin: 67px auto 0; }

.section-faqs-header .page-subtitle {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 18px; }

.section-faqs {
  padding-top: 105px;
  padding-bottom: 77px;
  /*
    * Style accordant
    *
  */ }
  .section-faqs ul {
    list-style: none; }
  .section-faqs .list-faq-topics a {
    text-decoration: underline;
    color: #4A90E2;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 24px; }
  .section-faqs .list-faq-topics li {
    margin-bottom: 16px; }
    .section-faqs .list-faq-topics li.active a {
      color: #2D2D2D;
      text-decoration: none; }
  .section-faqs .accordant {
    margin-bottom: 50px; }
    .section-faqs .accordant .accordant-header {
      border-bottom: 2px solid #D1D1D1; }
      .section-faqs .accordant .accordant-header p {
        font-weight: bold;
        display: inline-block;
        margin-top: 0; }
        .section-faqs .accordant .accordant-header p:last-child {
          float: right; }
    .section-faqs .accordant .questions-list {
      margin-top: 32px; }
      .section-faqs .accordant .questions-list li {
        border-bottom: 1px solid #ccc;
        padding-bottom: 12px; }
        .section-faqs .accordant .questions-list li > a > p {
          margin: 0;
          margin-top: 13px; }
          .section-faqs .accordant .questions-list li > a > p > .icon {
            float: right; }
            .section-faqs .accordant .questions-list li > a > p > .icon > .fa {
              color: #AFAFAF; }

.section-hero.price-hero {
  padding-bottom: 120px; }

.contact-hero .section-title {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  margin-top: 82px;
  margin-bottom: 0;
  text-transform: none; }

.contact-hero .section-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 88px;
  color: white;
  margin-bottom: 30px; }

.contact-hero .hero-cta {
  text-align: center; }
  .contact-hero .hero-cta .btn {
    display: inline-block;
    width: 206px; }
  .contact-hero .hero-cta .or {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 18px;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
    margin-right: 25px; }

.section-contact-details {
  padding-top: 71px;
  padding-bottom: 102px;
  background-color: #F4F4F4; }
  .section-contact-details .section-title {
    margin-bottom: 100px; }
  .section-contact-details .contact-detail-item {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 45px; }
    .section-contact-details .contact-detail-item .icon > img {
      width: 52px;
      height: 52px; }
    .section-contact-details .contact-detail-item .content {
      width: 630px;
      margin-left: 28px; }
      .section-contact-details .contact-detail-item .content .title, .section-contact-details .contact-detail-item .content p {
        text-align: left;
        margin: 0 0 4px; }
      .section-contact-details .contact-detail-item .content .country-phone {
        font-weight: bold; }
        .section-contact-details .contact-detail-item .content .country-phone .phone {
          color: #4A90E2; }
      .section-contact-details .contact-detail-item .content p {
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        font-family: "Lato", sans-serif;
        padding: 0; }
        .section-contact-details .contact-detail-item .content p > a {
          color: #4A90E2;
          font-family: "Lato", sans-serif;
          font-size: 18px;
          line-height: 26px;
          text-decoration: underline; }
      .section-contact-details .contact-detail-item .content .title {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 29px;
        margin-bottom: 15px;
        text-transform: uppercase; }
      .section-contact-details .contact-detail-item .content .cta {
        width: 206px;
        max-width: 100%;
        margin-top: 25px; }

/*Section maps*/
.section-map {
  background: red;
  height: 200px; }

/* UI styles */
.contact-card {
  background: white;
  border-radius: 5px; }
  .contact-card .contact-content {
    padding: 30px; }
    .contact-card .contact-content form .form-group.row {
      margin-bottom: 10px; }
    .contact-card .contact-content form input::-webkit-input-placeholder, .contact-card .contact-content form textarea::-webkit-input-placeholder {
      color: #9D9D9D;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      line-height: 24px; }
    .contact-card .contact-content form input::-moz-placeholder, .contact-card .contact-content form textarea::-moz-placeholder {
      color: #9D9D9D;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      line-height: 24px; }
    .contact-card .contact-content form input:-ms-input-placeholder, .contact-card .contact-content form textarea:-ms-input-placeholder {
      color: #9D9D9D;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      line-height: 24px; }
    .contact-card .contact-content form input::placeholder, .contact-card .contact-content form textarea::placeholder {
      color: #9D9D9D;
      font-family: "Lato", sans-serif;
      font-size: 16px;
      line-height: 24px; }
    .contact-card .contact-content form input, .contact-card .contact-content form textarea {
      padding: 13px 16px 13px 16px; }
    .contact-card .contact-content form .card-button {
      padding: 0;
      margin-top: 10px; }
    .contact-card .contact-content .card-header {
      background: none;
      margin-bottom: 19px;
      border: none; }
      .contact-card .contact-content .card-header .card-header-text {
        display: inline-block;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 29px;
        text-transform: uppercase;
        vertical-align: middle;
        margin-left: 12px;
        color: #2D2D2D; }

.content-wrapper {
  margin: 105px auto 115px;
  text-align: left; }

.page-title {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  margin: 102px auto 0; }
