<section class="section-hero contact-hero">

    <div class="container">
        {% include  sections/top-nav.html %}

        {% include  sections/main-nav.html %}

        <h1 class="section-title">We’ve got you covered</h1>
        <h2 class="section-subtitle">24x7x365</h2>
        
        <div class="hero-cta">
            <a href="#" class="btn btn-blue">NEED SUPPORT</a>
            <span class="or">or</span>
            <a href="#" class="btn btn-blue">NEED SALES</a>
        </div>

    </div> <!-- End container-->

</section>