<section class="section-contact-details">
    <div class="container">
        <h1 class="section-title">HI, WE’RE HERE TO HELP 24/7, 365 DAYS </h1>

        <div class="row">
            <div class="col-7">
                <div class="contact-detail-item">
                    <div class="icon">
                        <img src="images/icon-chat.png" alt="">
                    </div>
                    <div class="content">
                        <h1 class="title">Call us</h1>
                        <p class="country-phone"><strong>USA</strong>	<span class="phone">+1(929) 325-1701</span></p>
                        <p class="country-phone"><strong>USA</strong> <span class="phone">+1(929) 325-1701</span></p>
                        <p>Phone support is provided <strong>8:30am to 7pm, Monday to Friday AEST. Closed on Saturday, Sunday & Public Holidays.</strong> Outside of these hours our email and live chat support is available.</p>
                    </div>
                </div>
                <div class="contact-detail-item">
                    <div class="icon">
                        <img src="images/icon-chat.png" alt="">
                    </div>
                    <div class="content">
                        <h1 class="title">Call us</h1>
                        <p>Use our live chat service to instantly message one of our expert consultants directly, any time of the day or night.</p>
                        <div class="cta">
                            <a href="#" class="btn btn-blue">LIVE CHAT NOW</a>
                        </div>
                    </div>
                </div>
                <div class="contact-detail-item">
                    <div class="icon">
                        <img src="images/icon-chat.png" alt="">
                    </div>
                    <div class="content">
                        <h1 class="title">Email</h1>
                        <p>You can send us an email</p>
                        <p><a href="#">sales@siteguard.com</a></p>
                        <p><a href="#">sales@siteguard.com</a></p>
                    </div>

                </div>

            </div>

            <div class="col-5">
                <!--<div class="widget-content">-->
                    {% include sections/UI/contact-card.html%}
                <!--</div>-->
            </div>
        </div>
    </div>
</section>