<section id="big-review">
    <div class="container">
        <div class="review">
            <p class="quote">
                <span class="icon-quote-start"><img src="images/icon-quotes-start.png" alt=""></span>
                Site Guard provides us with the flexibility, security and service that allows us to focus on our business.
                <span class="icon-quote-finish"><img src="images/icon-quotes-finish.png" alt=""></span>
            </p>
            <p class="name">Alex Louey</p>
            <p class="company">Appcore</p>

        </div>

    </div> <!-- End container-->
</section> <!-- End section big reviews -->