<section id="big-review-no-image">
    <div class="container">
        <div class="review">
            <p class="quote">
                <span class="icon-quote-start"><img src="images/icon-quotes-start.png" alt=""></span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla semper ante quis posuere semper. Quisque purus ex, placerat ut faucibus et, iaculis ut arcu. Etiam magna orci, euismod a sollicitudin a, pulvinar id nisi. Mauris a orci vitae enim porttitor iaculis at in mauris.
                <span class="icon-quote-finish"><img src="images/icon-quotes-finish.png" alt=""></span>
            </p>
            <div>
                <img src="images/icon-star-med.png" alt="">
                <img src="images/icon-star-med.png" alt="">
                <img src="images/icon-star-med.png" alt="">
                <img src="images/icon-star-med.png" alt="">
                <img src="images/icon-star-med.png" alt="">
            </div>
            <p class="name">Alex Louey - </p>
            <p class="company">Appcore</p>
        </div>

    </div> <!-- End container-->
</section> <!-- End section big reviews -->