<section id="features">
    <div class="container">
        <h1 class="section-title">
            Brand experience
        </h1>

        <div class="logos-wrapper row">
            <div class="col-4">
                <img class="img-fluid" src="images/icon-diamond.png" alt="">
            </div>
            <div class="col-4">
                <img class="img-fluid" src="images/icon-diamond.png" alt="">
            </div>
            <div class="col-4">
                <img class="img-fluid" src="images/icon-diamond.png" alt="">
            </div>
            <div class="col-4">
                <img class="img-fluid" src="images/icon-diamond.png" alt="">
            </div>
            <div class="col-4">
                <img class="img-fluid" src="images/icon-diamond.png" alt="">
            </div>
            <div class="col-4">
                <img class="img-fluid" src="images/icon-diamond.png" alt="">
            </div>
            <div class="col-4">
                <img class="img-fluid" src="images/icon-diamond.png" alt="">
            </div>
            <div class="col-4">
                <img class="img-fluid" src="images/icon-diamond.png" alt="">
            </div>
            <div class="col-4">
                <img class="img-fluid" src="images/icon-diamond.png" alt="">
            </div>


        </div>

    </div>
</section> <!-- End section features -->