<section id="features">
    <div class="container">
        <h1 class="section-title">
            <span class="emphasized">Anti virus</span> protection for every website
        </h1>

        <h2 class="section-subtitle">Cras id dui. Duis lobortis massa imperdiet quam. Nullam cursus lacinia erat.</h2>

        <div class="row">
            <div class="col-sm-4">
                <div class="features-item">
                    <img src="images/icon-diamond.png" alt="">
                    <p class="features-item-title">Protect your reputation</p>
                    <p class="features-item-content">Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Sed fringilla mauris sit amet nibh. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="features-item">
                    <img src="images/icon-diamond.png" alt="">
                    <p class="features-item-title">Protect your reputation</p>
                    <p class="features-item-content">Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Sed fringilla mauris sit amet nibh. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="features-item">
                    <img src="images/icon-diamond.png" alt="">
                    <p class="features-item-title">Protect your reputation</p>
                    <p class="features-item-content">Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Sed fringilla mauris sit amet nibh. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="features-item">
                    <img src="images/icon-diamond.png" alt="">
                    <p class="features-item-title">Protect your reputation</p>
                    <p class="features-item-content">Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Sed fringilla mauris sit amet nibh. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="features-item">
                    <img src="images/icon-diamond.png" alt="">
                    <p class="features-item-title">Protect your reputation</p>
                    <p class="features-item-content">Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Sed fringilla mauris sit amet nibh. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="features-item">
                    <img src="images/icon-diamond.png" alt="">
                    <p class="features-item-title">Protect your reputation</p>
                    <p class="features-item-content">Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Sed fringilla mauris sit amet nibh. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                </div>
            </div>

        </div>

    </div>
</section> <!-- End section features -->