<footer id="footer">

    <div class="container clearfix">
        <p class="credit">2017 &copy; Site Guard Services. All rights Reserverd. </p>

        <nav class="nav tc-nav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="">Privacy Policy</a></li>
                <li class="nav-item"><a class="nav-link" href="terms-of-use.html">Terms of Use</a></li>
            </ul>
        </nav>

        <div class="credit-card">
            <img src="images/icon-cc.png" alt="">
        </div>
    </div>


</footer> <!-- End section platform -->