<section class="section-hero">

    {% include  sections/top-nav.html %}

    {% include  sections/main-nav.html %}

    <div class="hero-text">
        <h2>Over 50 million websites are hacked & hijacked every day</h2>
        <h1>Are you protected?</h1>
        <p>The must have security for every website has arrived</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="card card-red">
                    <div class="bar"></div>
                    <div class="card-content">
                        <h2 class="card-title">{{site.data.settings.card-red.title}}</h2>
                        <h3 class="card-subtitle">{{site.data.settings.card-red.subtitle}}</h3>

                        <div class="card-features clearfix">
                            <img class="icon" src="images/icon-alert.png" alt="">
                            <div class="content">
                                <ul>

                                    {%for item in site.data.settings.card-red.points%}
                                    <li>{{item}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div> <!-- End content-->

                        <button class="card-button">
                            <a href="#"><img src="images/button-icon-next.png" alt="">{{site.data.settings.card-red.button-text}}</a>
                        </button>

                    </div> <!-- End card content -->
                </div> <!-- End card-->
            </div> <!-- End column-->

            <div class="col-sm-12 col-md-6">
                <div class="card card-green">
                    <div class="bar"></div>
                    <div class="card-content">
                        <h2 class="card-title">{{site.data.settings.card-green.title}}</h2>
                        <h3 class="card-subtitle">{{site.data.settings.card-green.subtitle}}</h3>

                        <div class="card-features">
                            <img class="icon" src="images/icon-padlock.png" alt="">
                            <div class="content">
                                <ul>
                                    {%for item in site.data.settings.card-green.points%}
                                    <li>{{item}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div> <!-- End content-->

                        <button class="card-button">
                            <a href="#"><img src="images/button-icon-next.png" alt="">{{site.data.settings.card-green.button-text}}</a>
                        </button>

                    </div> <!-- End card content -->
                </div> <!-- End card-->
            </div> <!-- End column-->
        </div> <!-- End row -->

    </div>

    </div>




</section>