<section id="platforms">
    <div class="container">
        <h1 class="section-title">
            We can fix, monitor & protect all major platform
        </h1>

        <ul class="logo-list clearfix">
            <li><img src="../images/logo-wordpress.png" alt=""></li>
            <li><img src="../images/logo-joomla.png" alt=""></li>
            <li><img src="../images/logo-magento.png" alt=""></li>
            <li><img src="../images/logo-expressionengine.png" alt=""></li>
            <li><img src="../images/logo-drupal.png" alt=""></li>
            <li><p class="more">+ more</p></li>
        </ul>
    </div>
</section> <!-- End section platform -->