<section id="price">
    <div class="container">
        <h1 class="section-title">
            SIMPLE PRICING FOR A SOPHISTICATED SERVICE
        </h1>
        <h2 class="section-subtitle">Whether you need to protect or fix your website, simply choose the plan below and press purchase button to get your service setup in an instant.</h2>

        <div class="row">
            {% for item in site.data.settings.prices%}
            <div class="col-sm-12 col-md-4 price-card">
                {% if item.type == "red" %}
                <div class="card card-red">
                {%else%}
                <div class="card card-green">
                {%endif%}
                    <div class="topper">{{item.topper}}</div>
                    <div class="card-content">
                        <h2 class="card-title">{{item.title}}</h2>
                        <h3 class="card-subtitle">{{item.subtitle}}</h3>
                        <p class="card-price"><i class="fa fa-dollar"></i>{{item.price}}<span class="per-period">/ {{item.per-period}}</span></p>
                        <p class="billing-period">{{item.period}}</p>

                        <hr>
                        <div class="">
                            <ul class="feature-list">
                                {%for feature in item.features %}
                                <li>{{feature}}</li>
                                {%endfor%}
                            </ul> <!-- End feateure list-->

                        </div>

                        {% if item.card-emphasized %}
                        <p class="card-emphasized">{{item.card-emphasized}}</p>
                        {% endif %}

                        <div class="card-cta">
                            <button class="card-button">
                                <a href="#"><img src="images/button-icon-next.png" alt="">{{item.button-text}}</a>
                            </button>
                        </div>
                    </div> <!-- End card content -->
                </div> <!-- End card-->
            </div>
            {% endfor%}

        </div> <!-- End row -->
    </div> <!--End container-->
</section> <!-- End section features -->