<section id="price">
    <div class="container">
        <h1 class="section-title">
            SIMPLE PRICING FOR A SOPHISTICATED SERVICE
        </h1>
        <h2 class="section-subtitle">Whether you need to protect or fix your website, simply choose the plan below and press purchase button to get your service setup in an instant.</h2>

        <div class="row">
            <div class="col-sm-6 col-md-4 price-card">
                <div class="card card-red">
                    <div class="topper">100% MONEY BACK GUARANTEE</div>
                    <div class="card-content">
                        <h2 class="card-title">Emergency</h2>
                        <h3 class="card-subtitle">WEBSITE & BUSINESS REPAIR</h3>
                        <p class="card-price"><i class="fa fa-dollar"></i>199<span class="per-period">/Once</span></p>
                        <p class="billing-period">billed once-off*</p>

                        <hr>

                        <ul class="feature-list">
                            <li>24 hour turn-around</li>
                            <li>Infected with Malware</li>
                            <li>Infected with Malware<p class="no-page-limit">(No page limit)</p></li>
                        </ul> <!-- End feateure list-->



                        <button class="card-button">
                            <a href="#"><img src="images/button-icon-next.png" alt="">Emergency repair</a>
                        </button>

                    </div> <!-- End card content -->
                </div> <!-- End card-->
            </div>
            <div class="col-sm-6 col-md-4 price-card">
                <div class="card card-green">
                    <div class="topper"></div>
                    <div class="card-content">
                        <h2 class="card-title">Emergency</h2>
                        <h3 class="card-subtitle">WEBSITE & BUSINESS REPAIR</h3>
                        <p class="card-price"><i class="fa fa-dollar"></i>199<span class="per-period">/Once</span></p>
                        <p class="billing-period">billed once-off*</p>

                        <hr>

                        <ul class="feature-list">
                            <li>24 hour turn-around</li>
                            <li>Infected with Malware</li>
                            <li>Infected with Malware<p class="no-page-limit">(No page limit)</p></li>
                        </ul> <!-- End feateure list-->

                        <p class="card-emphasized"><strong>Instant notification</strong> if a threat is detected on your website</p>

                        <button class="card-button">
                            <a href="#"><img src="images/button-icon-next.png" alt="">Emergency repair</a>
                        </button>

                    </div> <!-- End card content -->
                </div> <!-- End card-->
            </div>
            <div class="col-sm-6 col-md-4 price-card">
                <div class="card card-green">
                    <div class="topper"></div>
                    <div class="card-content">
                        <h2 class="card-title">Emergency</h2>
                        <h3 class="card-subtitle">WEBSITE & BUSINESS REPAIR</h3>
                        <p class="card-price"><i class="fa fa-dollar"></i>199<span class="per-period">/Once</span></p>
                        <p class="billing-period">billed once-off*</p>

                        <hr>

                        <ul class="feature-list">
                            <li>24 hour turn-around</li>
                            <li>Infected with Malware</li>
                            <li>Infected with Malware<p class="no-page-limit">(No page limit)</p></li>
                        </ul> <!-- End feateure list-->



                        <button class="card-button">
                            <a href="#"><img src="images/button-icon-next.png" alt="">Emergency repair</a>
                        </button>

                    </div> <!-- End card content -->
                </div> <!-- End card-->
            </div>


        </div>

    </div> <!--End container-->
</section> <!-- End section features -->