<section id="protect" class="green large-benefit {{page.section-bg-color}}">
    <div class="container">

        <div class="content-wrapper">
            <h1 class="section-title">
                <span class="emphasized">PROTECT</span> YOUR WEBSITE AND BUSINESS
            </h1>

            <p class="large-benefit-intro">
                {{ site.data.settings.protect.intro }}
            </p>
            <div class="row">

                {%for item in site.data.settings.protect.benefits%}
                <div class="col-sm-12 col-md-6 large-benefit-single">
                    <h4 class="large-benefit-heading"><img src="images/{{item.icon}}" alt="">{{item.title}}</h4>
                    <p class="large-benefit-content">{{item.content}}</p>
                </div>
                {%endfor%}
            </div> <!-- End row-->

            <button class="card-button">
                <a href="#"><img src="images/button-icon-next.png" alt="">Emergency repair</a>
            </button>
        </div> <!-- End content wrapper-->
    </div> <!-- End container -->
</section> <!-- End section features -->