<section id="testimonials">
    <div class="container">
        <h1 class="section-title">
            What our <span class="emphasized">Customers</span> says about us
        </h1>

        <h2 class="section-subtitle">Cras id dui. Duis lobortis massa imperdiet quam. Nullam cursus lacinia erat.</h2>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="testimonial-card">
                    <div class="topper"></div>
                    <div class="testimonial-content">
                        <div class="like">
                            <img src="images/icon-like.png" alt="">
                        </div>
                        <div class="testimonial-text">
                            <q>
                                Aliquam eu nunc. Fusce pharetra convallis urna. Donec vitae orci sed dolor rutrum auctor. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula.
                            </q>
                        </div>
                        <hr>
                        <div class="testimonial-person">
                            <p class="name">Illona Kushnitsky</p>
                            <p class="company">Arthur purray dance studio</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="testimonial-card">
                    <div class="topper"></div>
                    <div class="testimonial-content">
                        <div class="like">
                            <img src="images/icon-like.png" alt="">
                        </div>
                        <div class="testimonial-text">
                            <q>
                                Aliquam eu nunc. Fusce pharetra convallis urna. Donec vitae orci sed dolor rutrum auctor. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula.
                            </q>
                        </div>
                        <hr>
                        <div class="testimonial-person">
                            <p class="name">Illona Kushnitsky</p>
                            <p class="company">Arthur purray dance studio</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="testimonial-card">
                    <div class="topper"></div>
                    <div class="testimonial-content">
                        <div class="like">
                            <img src="images/icon-like.png" alt="">
                        </div>
                        <div class="testimonial-text">
                            <q>
                                Aliquam eu nunc. Fusce pharetra convallis urna. Donec vitae orci sed dolor rutrum auctor. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula.
                            </q>
                        </div>
                        <hr>
                        <div class="testimonial-person">
                            <p class="name">Illona Kushnitsky</p>
                            <p class="company">Arthur purray dance studio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="card-button">
            <a href="#"><img src="images/button-icon-next.png" alt="">Read all reviews</a>
        </button>
    </div>
</section> <!-- End section platform -->