<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-dark" id="top-nav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
               {% for item in site.data.settings.top-menu %}
                <li class="nav-item">
                    <a href="{{item.url}}" class="btn nav-link btn-outline-top"><img src="{{item.icon}}" alt="">{{item.name}}</a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </nav>
</div>