<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-dark" id="top-nav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="btn nav-link btn-outline-top"><img src="images/icon-chatbubble-sml.png" alt="">Support</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn nav-link btn-outline-top"><img src="images/icon-login-sml.png" alt="">Client login</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="btn nav-link btn-outline-top"><img src="images/icon-login-sml.png" alt="">Client login</a>
                </li>

            </ul>
        </div>
    </nav>
</div>