<section id="why-choose-sitegaurd">
    <div class="container">
        <h1 class="section-title">
            Why choose<br>
            <span class="emphasized">Sitegaurd</span>
        </h1>

        <div class="row">

            <div class="col-sm-12 col-md-6">
                <p class="content">
                    Phasellus gravida semper nisi. Duis vel nibh at velit scelerisque suscipit. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Ut id nisl quis enim dignissim sagittis. Praesent nec nisl a purus blandit viverra.
                    <br>
                    <br>
                    Nam commodo suscipit quam. In auctor lobortis lacus. Suspendisse feugiat. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Fusce ac felis sit amet ligula pharetra condimentum.
                </p>
            </div>

            <div class="col-sm-12 col-md-6">
                <p class="content">
                    Phasellus gravida semper nisi. Duis vel nibh at velit scelerisque suscipit. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Ut id nisl quis enim dignissim sagittis. Praesent nec nisl a purus blandit viverra.
                    <br>
                    <br>
                    Nam commodo suscipit quam. In auctor lobortis lacus. Suspendisse feugiat. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Fusce ac felis sit amet ligula pharetra condimentum.
                </p>
            </div>

        </div>

    </div>
</section> <!-- End section Why sitegaurd -->