.contact-hero {
  .section-title {
    font-family: "Lato", sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 0;
    text-transform: none;

  }

  .section-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 88px;
    color: white;
    margin-bottom: 30px;
  }


  .hero-cta {
    text-align: center;

    .btn {
      display: inline-block;
      width: 206px;
    }

    .or {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 18px;
      color: white;
      display: inline-block;
      text-transform: uppercase;
      margin-left: 25px;
      margin-right: 25px;
    }

  }
}

.section-contact-details {

  padding-top: 71px;
  padding-bottom: 102px;
  background-color: #F4F4F4;

  .section-title {
    margin-bottom: 100px;
  }

  .contact-detail-item {
    display: flex;
    margin-bottom: 45px;

    .icon {
      //background: red;
      //@include size(52px);

      //display: inline-block;
      >img {
        //max-width: 100%;
        //max-height: 100%;
        width: 52px;
        height: 52px;
      }
    }

    .content {
      width: 630px;
      .title, p {
        text-align: left;
        margin: 0 0 4px;
      }

      .country-phone {
        font-weight: bold;
        .phone {
          color: $blue;
        }
      }

      p {
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
        font-family: "Lato", sans-serif;
        padding: 0;

        >a {
          color: #4A90E2;
          font-family: "Lato", sans-serif;
          font-size: 18px;
          line-height: 26px;
          text-decoration: underline;
        }
      }

      .title {
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 29px;
        margin-bottom: 15px;
        text-transform: uppercase;
      }

      .cta {
        width: 206px;
        max-width: 100%;
        margin-top: 25px;
      }

      margin-left: 28px;
    }
  }
}

/*Section maps*/
.section-map {
  background: $blue;
  height: 300px;
}