<section class="section-hero clearfix">
    <div class="container">
        <!-- Add navs -->
        {% include  sections/top-nav.html %}

        {% include  sections/main-nav.html %}

        <div class="wrapper">
            <div class="title-div">
                <h1>What our clients say about us</h1>
            </div>

            <div class="review">
                <div class="stars">
                    <img src="images/icon-star-med.png" alt="" width="90" height="90">
                    <img src="images/icon-star-med.png" alt="" width="90" height="90">
                    <img src="images/icon-star-med.png" alt="" width="90" height="90">
                    <img src="images/icon-star-med.png" alt="" width="90" height="90">
                    <img src="images/icon-star-med.png" alt="" width="90" height="90">
                </div>
                <div class="detail">
                    <div class="review-points"><strong>4.5</strong> from 100 Reviews</div>
                    <div class="review-cta">
                        <a href="" class="btn btn-blue">
                            <img src="images/button-icon-next.png" alt="">
                            WRITE A REVIEW</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>