<section class="section-review">
    <div class="container">

        <div >
            <div class="row review-row">
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="review-post">
                        <p class="name">Fatmir C.</p>
                        <p class="date">30th August, 2017</p>
                        <p class="content">Ezra Miller has been an excellent support figure and an asset for Hosting Australia. He has always provided five star support with an excellent response time...Keep up the good work.</p>
                        <div class="stars">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="review-post">
                        <p class="name">Fatmir C.</p>
                        <p class="date">30th August, 2017</p>
                        <p class="content">Ezra Miller has been an excellent support figure and an asset for Hosting Australia. He has always provided five star support with an excellent response time...Keep up the good work.</p>
                        <div class="stars">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="review-post">
                        <p class="name">Fatmir C.</p>
                        <p class="date">30th August, 2017</p>
                        <p class="content">Ezra Miller has been an excellent support figure and an asset for Hosting Australia. He has always provided five star support with an excellent response time...Keep up the good work.</p>
                        <div class="stars">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        </div>
                    </div>

                </div>
            </div>

            <div class="row review-row">
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="review-post">
                        <p class="name">Fatmir C.</p>
                        <p class="date">30th August, 2017</p>
                        <p class="content">Ezra Miller has been an excellent support figure and an asset for Hosting Australia. He has always provided five star support with an excellent response time...Keep up the good work.</p>
                        <div class="stars">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="review-post">
                        <p class="name">Fatmir C.</p>
                        <p class="date">30th August, 2017</p>
                        <p class="content">Ezra Miller has been an excellent support figure and an asset for Hosting Australia. He has always provided five star support with an excellent response time...Keep up the good work.</p>
                        <div class="stars">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-xs-12 col-sm-6">
                    <div class="review-post">
                        <p class="name">Fatmir C.</p>
                        <p class="date">30th August, 2017</p>
                        <p class="content">Ezra Miller has been an excellent support figure and an asset for Hosting Australia. He has always provided five star support with an excellent response time...Keep up the good work.</p>
                        <div class="stars">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                            <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        </div>
                    </div>

                </div>
            </div>

            <div class="row review-row">
            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="review-post">
                    <p class="name">Fatmir C.</p>
                    <p class="date">30th August, 2017</p>
                    <p class="content">Ezra Miller has been an excellent support figure and an asset for Hosting Australia. He has always provided five star support with an excellent response time...Keep up the good work.</p>
                    <div class="stars">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="review-post">
                    <p class="name">Fatmir C.</p>
                    <p class="date">30th August, 2017</p>
                    <p class="content">Ezra Miller has been an excellent support figure and an asset for Hosting Australia. He has always provided five star support with an excellent response time...Keep up the good work.</p>
                    <div class="stars">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-xs-12 col-sm-6">
                <div class="review-post">
                    <p class="name">Fatmir C.</p>
                    <p class="date">30th August, 2017</p>
                    <p class="content">Ezra Miller has been an excellent support figure and an asset for Hosting Australia. He has always provided five star support with an excellent response time...Keep up the good work.</p>
                    <div class="stars">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                        <img src="images/icon-star-med.png" alt="" width="20" height="20">
                    </div>
                </div>

            </div>
        </div>
        </div>


        <div class="review-cta">
            <a href="" class="btn btn-blue">
                <img src="images/button-icon-next.png" alt="">
                WRITE A REVIEW</a>
        </div>

    </div>

</section> <!-- End blog content section-->