<div class="contact-card">
    <div class="topper"></div>
    <div class="contact-content">
        <div class="card-header">
            <img src="images/icon-chatbubble.png" alt="">
            <h4 class="card-header-text">Send us a message</h4>
        </div>

        <form>

            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Full name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Phone">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Website">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12">
                    <textarea class="form-control" rows="5" placeholder="Your message"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-12 col-md-12">
                    <button class="card-button">
                        <a href="#" class="btn btn-blue"><img src="images/button-icon-next.png" alt="">Send message</a>
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>