/* Import boostrap */

/* Custom files*/
@import "tools/vars";

@import "reset";

/* Import parts */
@import "parts/general";
//@import "parts/header-top";
@import "parts/hero-section";
@import "parts/_main_nav";
@import "parts/_top_nav";
@import "parts/card";
@import "parts/platforms";
@import "parts/features";
@import "parts/big-review";
@import "parts/logos";
@import "parts/repair";
@import "parts/price";
@import "parts/big-review-no-image";
@import "parts/why-choose-sitegaurd";
@import "parts/testimonials";
@import "parts/contact";
@import "parts/footer";

//@import "tools/boostrap/bootstrap";





