/*
    Card styles
*/
.card {
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 #000000;
  //max-width: 100%;
  //min-height: 370px;
  //max-height: 370px;
  background-color: #FFFFFF;
  margin: 0 auto 30px;
  border: none;
}

.card .bar {
  height: 17px;
  max-width: 500px;
  border-radius: 5px 5px 0 0;
}

.card-red .bar {
  background-color: $red;
}

.card-green .bar {
  background-color: $green;
}

//
//.card-features {
//    background-color: rgba(255,255,255, 1);
//}

.card-title, .card-subtitle {
  text-transform: uppercase;
}

.card-title {
  font-size: 38px;
  letter-spacing: 3px;
  line-height: 47px;
  font-weight: 500;

}

.card-subtitle {

}

.card-red .card-title{
  color: $red;
  margin-top: 24px;
  margin-bottom: 0;
}

.card-red .card-subtitle{
  font-size: 28px;
  margin-top: 0;
  color: #2D2D2D;
  letter-spacing: 2px;
}

.card-green .card-title{
  color: $green;
  margin-top: 24px;
  margin-bottom: 0;
}

.card-green .card-subtitle{
  font-size: 28px;
  margin-top: 0;
  color: $main-text-color;
  letter-spacing: 2px;
}


.card-features {
  margin: 24px auto 0;
  padding: 0;
  text-align: center;
}

.card-features .icon, .card-features .content {
  display: inline-block;
  text-align: left;
}

.card-features .content {
  margin-left: 49px;
}

.card-features .content ul {
  margin-top: 7px;
}

.card-red .card-features .content ul {
  list-style-image: url("../images/icon-tickred.png");
}
.card-green .card-features .content ul {
  list-style-image: url("../images/icon-tickgreen.png");
}

.card-features .content li {
  margin-bottom: 8px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 22px;
  color: #555555;
}

.card-features .icon {
  vertical-align: baseline;
}

.card-content {
  padding-bottom: 53px;
}


/**
  Card button styles
*/
.card-red button {
  background-color: $red;
}

//.card-red {
//  margin-right: 0;
//}
//.card-green {
//  margin-left: 0;
//}

.card-green button {
  background-color: $green;
}

.card-button {
  border-radius: 100px;
  max-width:100%;
  width: 450px;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.25);
  margin: 38px auto 0;
  padding: 16px 0 16px;
  border: none;

}

.card-button i {
  margin-right: 5px;
}

.card-button a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: white;
}

.card-cta {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .card-button {
    max-width: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .card-red, .card-green {
    margin: auto
  }

  .card-red {
    margin-bottom: 30px;
  }
}
