.card-horizontal {
  max-width: 100%;
  width: 700px;

  .card-content-col {
    width: 100%;
  }

  .topper, .card-title, .card-subtitle{
    text-align: center;
  }

  .card-title {
    font-family: "Montserrat", sans-serif;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 66px;
  }

  .card-content-row {
    margin-top: 50px;
    ;
  }
}