#contact {
  padding-bottom: 113px;
  padding-top: 85px;
  background-color: #2D2D2D;
  text-align: left;
  color: white;

  .card-header {
    margin-bottom: 19px;
    padding: 0;
    background: none;
    border: none;
  }
}

#contact .card-button {
  background: $blue;
  width: 100%;
  margin-top: 10px;
}

.contact-card {
  //min-height: 293px;
  width: 100%;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
  margin: auto;
  margin-bottom: 20px;
  padding-bottom: 37px;
  margin-right: 30px;
  //width: 430px;
}

.contact-content {
  text-align: left;
  margin: 22px 37px;
}

.card-header-text {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 29px;
  text-transform: uppercase;
  margin: 0;
  vertical-align: middle;
  margin-left: 12px;
  color: $main-text-color;
}



form .form-group.row {
  margin-bottom: 20px ;
}


.office, .widget-title {
  text-align: left;
  //margin-left: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 20px;
}

.widget-title {
  text-transform: uppercase;
  margin-bottom: 17px;
  margin-top: 46px;
}

//.widget {
//  margin-left: 64px;
//}

/*
  Offices styles
*/
.office-icon, .office-detail p {
  display: inline-block;
  margin: 0 0 20px;
  vertical-align: top;
  padding: 0;
}


.office-detail p {
  margin-left: 17px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.office-detail p a {
  color: white;
}

form .card-button {
  max-width: 100%;
}

form .card-button img {
  margin-right: 10px;
  vertical-align: top;
}

.sitemap {
  .nav-link {
    text-align: left;
    padding: 0;
    text-decoration: underline;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 26px;

    &:hover {
      color: white;
    }
  }
}

.widget {
  margin-bottom: 46px;

  .widget-content {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 26px;
  }
}


/* Change the column width of boostrap for footer */
#contact {
  //.contact-col {
  //  width: 430px;
  //}

  .contact-col:first-child {
    width: 430px;
  }

  .contact-col:nth-child(2) {
    width: 320px;
    margin-left: 64px;
  }

  .contact-col:nth-child(3) {
    width: 320px;
  }


}







