.section-contact {
  padding-bottom: 113px;
  padding-top: 85px;
  background-color: #2D2D2D;
  text-align: left;
  color: white;

  .card-header {
    margin-bottom: 19px;
    padding: 0;
    background: none;
    border: none;
  }

  p {
    color: white;
    font-size: 14px;
  }
}

.office, .widget-title {
  text-align: left;
  //margin-left: 50px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 20px;
}

.widget-title {
  text-transform: uppercase;
  margin-bottom: 17px;
  margin-top: 46px;
}

//.widget {
//  margin-left: 64px;
//}

/*
  Offices styles
*/
.office-icon, .office-detail p {
  display: inline-block;
  margin: 0 0 20px;
  vertical-align: top;
  padding: 0;
}

.office-detail p {
  margin-left: 17px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.office-detail p a {
  color: white;
}

.sitemap {
  .nav-link {
    text-align: left;
    padding: 0;
    text-decoration: underline;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 26px;

    &:hover {
      color: white;
    }
  }
}

.widget {
  margin-bottom: 46px;

  .widget-content {
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 26px;
    max-width: 100%;
    //width: 320px;
  }
}


/* Change the column width of boostrap for footer */
.section-contact {
  .contact-col {
    display: inline-block;
    vertical-align: top;
  }

  .contact-col:first-child {
    width: 430px;
  }

  .contact-col:nth-child(2) {
    width: 320px;
    margin-left: 64px;
  }

  .contact-col:nth-child(3) {
    width: 320px;
    float: right;
  }
}

.social-icons {
  display: flex;
  justify-content: flex-start;

  img {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}








