footer {
  padding: 35px 0 35px;
  background-color: #202020;
  text-align: left;
}


footer .credit {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

footer {
  color: white;
}

footer p {
  display: inline-block;
  margin: 0
}

footer p:nth-child(n+2) {
  margin-left: 35px;
}

.credit-card {
  float: right;
  line-height: 38px;
}

.tc-nav {
  display: inline-block;

  ul, li {
    display: inline-block;
  }

  ul {
    margin-left: 10px;
  }

  a.nav-link {
    display: inline-block;
    text-decoration: underline;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 20px;
  }

  li+li:before {
    content: " | ";
    padding-left: 10px;
    padding-right: 10px;
  }
}







