footer {
  padding: 42px 20px 42px;
  background-color: #2d2d2d;
  text-align: left;
}

footer .container{
  position: relative;
}

footer .credit {

  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

footer {
  color: white;
}

footer p {
  display: inline-block;
  margin: 0
}

footer p:nth-child(n+2) {
  margin-left: 35px;
}

footer .container > img {
  float: right;
  top: -25px;
  right: 91px;
  position: absolute;
}




