.section-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 29px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 27px;
}

.section-title .emphasized {
  color: $blue;
}

.section-subtitle {
  max-width: 652px;
  margin: 0 auto 75px;
  font-weight: 300 !important;
}

.topper {
  height: 17px;
  border-radius: 5px 5px 0 0;
  background-color: $blue;
}

section, header, footer {
  max-width: 1440px;
  margin: 0 auto;
}

button, .btn {
  &:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    opacity: 2;
  }

}

