.section-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 29px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 27px;
}

.section-title .emphasized {
  color: $blue;
}

.section-subtitle {
  max-width: 652px;
  margin: 0 auto 75px;
  color: $main-text-color;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;

}

.topper {
  height: 17px;
  border-radius: 5px 5px 0 0;
  background-color: $blue;
}

section, header, footer {
  margin: 0 auto;
}

button, .btn {
  &:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    opacity: 2;
  }
}

.btn {
  border-radius: 100px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 0 auto 0;
  padding: 16px 0 16px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 18px;
  text-transform: uppercase;

  &:hover, &:focus, &:visited {
    color: white;
  }

  .btn-icon {
    margin-right: 10px;
  }
}

.btn-blue {
  background-color: $blue;
}

.btn-red {
  background-color: $red;
}

.btn-green {
  background-color: $green;
}


