.section-hero {
  padding-bottom: 152px;
}

.section-hero {
  background: url("../images/bg-hero.png") center center;
}

.section-hero h1 {
  color: white;
}

.hero-text {
  margin-top: 147px;
  text-transform: uppercase;
  //max-width: 300px; ;
}

.hero-text h1, .hero-text h2, .hero-text p {
  margin: 0;
}

.hero-text h1 {
  font-size: 72px;
  font-weight: bold;
  line-height: 88px;
  margin-bottom: 16px;
}

.hero-text h2 {
  font-size: 24px;
  color: $hero-text-color;
  letter-spacing: 1px;
  line-height: 29px;
}

.hero-text p {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: $hero-text-color;
  margin-bottom: 50px;
  text-transform: none;
}

.section-hero .card-button img {
  margin-right: 10px;
  vertical-align: top;
}

@media screen and (max-width: 500px) {
  .hero-text h2, .hero-text h1, .hero-text p  {
    font-size: 2em;
  }
}


