.navbar {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 0;
}


#main-nav li a:visited {
  color: white;
}

#main-nav li a:hover {
  background: none;
  color: white;
  border-bottom: 3px solid $blue;
}

#main-nav li.active {
  border-bottom: 3px solid $blue;
}

#main-nav li.active:hover {
  border-bottom: none;
}

.navbar-brand {
  vertical-align: top;
  padding: 0;
}

#main-nav {
  margin-top: 28px;
}
