section#platforms {
  background: #F4F4F4;
  padding-bottom: 70px;
  padding-top: 85px;
}

section#platforms .section-title {
  margin-bottom: 40px;
}

.logo-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-list li {
  display: inline-block;
}

.logo-list li .more {
  color: $blue;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
}
