.large-benefit {
  padding-top: 99px;
  padding-bottom: 124px;
  text-align: left;

  .container {
    width: 1260px;
  }

  .content-wrapper {
    max-width: 730px;
  }

  .section-title {
    margin-bottom: 31px;
  }

  .large-benefit-single {
    margin-bottom: 68px ;
  }

  .large-benefit-intro {
    margin-top: 0;
    margin-bottom: 52px;
    max-width: 681px;
  }

  .large-benefit-heading {
    margin: 0;
    //margin-bottom: 12px;
    display: inline-block;
    //vertical-align: baseline;
    line-height: 20px;
    font-family: "Montserrat",sans-serif;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  img {
    margin-right: 12px;
    margin-bottom: 12px;
    vertical-align: top;
  }



  .large-benefit-content {
    max-width: 320px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin: 0;
  }

  .card-button {
    margin-top: 0;
    width: 450px;
  }
}

.red {
  .emphasized {
    color: $red;
  }

  .card-button {
    background: $red;
  }
}

#repair {
  background-color: #ECECEC;
}

.large-benefit.red {
  background: url("../images/macbook-alert.png") center right no-repeat;
}