<section class="section-faqs">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="right-bar">
                    <ul class="list-faq-topics">
                        <li class="active"><a href="">Website antivirus</a></li>
                        <li><a href="">Website antivirus</a></li>
                        <li><a href="">Website antivirus</a></li>
                        <li><a href="">Website antivirus</a></li>
                        <li><a href="">Website antivirus</a></li>
                    </ul>
                </div>
            </div> <!-- End col-3-->

            <div class="col-9">
                <div class="accordant">
                    <div class="accordant-header">
                        <p>Administrative - Website AntiVirus</p>
                        <p>1</p>
                    </div>
                    <div class="accordant-content">
                        <ul class="questions-list">
                            <li>
                                <a href="#answer-1" data-toggle="collapse">
                                    <p>Do you offer refunds?
                                        <span class="icon"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    </p>
                                </a>

                                <div class="collapse" id="answer-1">fdsafdsafdsafdsafdsafdsafds</div>
                            </li>
                            <li>
                                <a href="#answer-1" data-toggle="collapse">
                                    <p>Do you offer refunds?
                                        <span class="icon"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    </p>
                                </a>

                                <div class="collapse" id="answer-1">fdsafdsafdsafdsafdsafdsafds</div>
                            </li>
                            <li>
                                <a href="#answer-1" data-toggle="collapse">
                                    <p>Do you offer refunds?
                                        <span class="icon"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    </p>
                                </a>

                                <div class="collapse" id="answer-1">fdsafdsafdsafdsafdsafdsafds</div>
                            </li>
                            <li>
                                <a href="#answer-1" data-toggle="collapse">
                                    <p>Do you offer refunds?
                                        <span class="icon"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    </p>
                                </a>

                                <div class="collapse" id="answer-1">fdsafdsafdsafdsafdsafdsafds</div>
                            </li>
                            <li>
                                <a href="#answer-1" data-toggle="collapse">
                                    <p>Do you offer refunds?
                                        <span class="icon"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    </p>
                                </a>

                                <div class="collapse" id="answer-1">fdsafdsafdsafdsafdsafdsafds</div>
                            </li>
                            <li>
                                <a href="#answer-1" data-toggle="collapse">
                                    <p>Do you offer refunds?
                                        <span class="icon"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    </p>
                                </a>

                                <div class="collapse" id="answer-1">fdsafdsafdsafdsafdsafdsafds</div>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="accordant">
                    <div class="accordant-header">
                        <p>Administrative - Website AntiVirus</p>
                        <p>1</p>
                    </div>
                    <div class="accordant-content">
                        <ul class="questions-list">
                            <li>
                                <a href="#answer-1" data-toggle="collapse">
                                    <p>Do you offer refunds?
                                        <span class="icon"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    </p>
                                </a>

                                <div class="collapse" id="answer-1">fdsafdsafdsafdsafdsafdsafds</div>
                            </li>
                            <li>
                                <a href="#answer-1" data-toggle="collapse">
                                    <p>Do you offer refunds?
                                        <span class="icon"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    </p>
                                </a>

                                <div class="collapse" id="answer-1">fdsafdsafdsafdsafdsafdsafds</div>
                            </li>
                            <li>
                                <a href="#answer-1" data-toggle="collapse">
                                    <p>Do you offer refunds?
                                        <span class="icon"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    </p>
                                </a>

                                <div class="collapse" id="answer-1">fdsafdsafdsafdsafdsafdsafds</div>
                            </li>
                            <li>
                                <a href="#answer-1" data-toggle="collapse">
                                    <p>Do you offer refunds?
                                        <span class="icon"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    </p>
                                </a>

                                <div class="collapse" id="answer-1">fdsafdsafdsafdsafdsafdsafds</div>
                            </li>
                            <li>
                                <a href="#answer-1" data-toggle="collapse">
                                    <p>Do you offer refunds?
                                        <span class="icon"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    </p>
                                </a>

                                <div class="collapse" id="answer-1">fdsafdsafdsafdsafdsafdsafds</div>
                            </li>
                            <li>
                                <a href="#answer-1" data-toggle="collapse">
                                    <p>Do you offer refunds?
                                        <span class="icon"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                    </p>
                                </a>

                                <div class="collapse" id="answer-1">fdsafdsafdsafdsafdsafdsafds</div>
                            </li>


                        </ul>
                    </div>
                </div>



            </div> <!-- End col-9 -->
        </div> <!-- end row -->
    </div> <!-- End container -->

</section>

<script>
    $('#accordion').collapse();
</script>